ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li.list{
  margin-left:3%;
  text-align: left;
padding: -10px;}

li.navbar {
  list-style-type:none;
  float: left;
  margin-left:15%;
  display: inline block;
  text-align: center;
  padding: -10px;
}

li a {
  display: inline;
}
p, ul, h1, h2, h3, h4
{
margin-top:20px; 
margin-left: 60px; 
margin-right: 60px;
margin-bottom: 20px
} 
h1 {color: #023047; font-family: century gothic; font-size:400%;}
p {color: #023047;font-family: century gothic; font-size: 110%;}
h2 {color: #023047;font-family: century gothic; font-size: 150%;}
ul {color: #023047;font-family: century gothic; font-size: 120%;}
 h3, h4 {color: #023047; font-family: century gothic; font-size: 150%;